<span
    {% if text_container.urn %} data-token-urn="{{ text_container.urn }}"{% endif %}
        data-heat="{{ text_container.heat }}"
        class="tei-token tvv tvv-center tvv-wash"
        style="--tvv-value: {{ -(text_container.heat|float) }}"
        title="Heat {{ (text_container.heat|float) }}"
>{{ text_container.text }}</span>
{% if text_container.whitespace %} {% endif %}
